@{
    ViewData["Title"] = "忘記密碼";
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
    </style>
</head>

<body>
    <div class="d-flex justify-content-center align-items-center" style="padding:6rem;">
        <main class="form-signin" style="max-width: 450px; width: 100%;">
            <form>
                <h1 class="h3 mb-3 fw-normal text-center">忘記密碼重設申請</h1>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="LoginInput" placeholder="Login" autocomplete="username">
                    <label for="LoginInput">登入帳號</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="PasswordInput" placeholder="Password" autocomplete="current-password">
                    <label for="PasswordInput">修改密碼</label>
                </div>
                <div class="d-flex justify-content-between w-100" role="toolbar" aria-label="Toolbar with button groups">
                    <input type="button" value="返回" class="btn btn-lg w-50 me-2" onclick="window.location.href = '/Home/Login';" style="background-color:black; color:white;">
                    <input type="button" value="送出" class="btn btn-lg w-50 btn-primary">
                </div>
            </form>
        </main>
    </div>
</body>

@section Scripts {
}