@*<div class="row">
    <div class="col-6 col-md">
        <h5>▎ 週一排查工具</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1">
                <a href="/DataProduct/EA_OpenAndCloseOrder">- Weekly EA 改單與開單次數統計</a>
            </li>
            <li class="mb-1">
                <a href="/MondayTroubleshoot/Compare_Manager">- Manager 權限比對</a>
            </li>
            <li class="mb-1">
                <a href="/MondayTroubleshoot/Leverage_Check">- 槓桿檢查</a>
            </li>
            <li class="mb-1">
                <a href="/MondayTroubleshoot/RemainGroup">- 剩餘組別排查 MT4</a>
            </li>
            <li class="mb-1">
                <a href="/MondayTroubleshoot/Compare_OBP">- 組別基本準則檢查</a>
            </li>
            <li class="mb-1">
                <a href="/DataProduct/pamm_closedonly">- PAMM Close Only 盈利檢查</a>
            </li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>▎ Admin 工具</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1">
                <a href="/DataProduct/Holiday">- Holiday 檔案製作</a>
            </li>
            <li class="mb-1">
                <a href="/Mtapi/KBar">- 補K線工具</a>
            </li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>▎ Risk 工具</h5>
        <ul class="list-unstyled text-small">
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>▎ 其他工具</h5>
        <ul class="list-unstyled text-small">
            <li class="mb-1">
                <a href="/DataProduct/ST_Delay">- ST 客戶掉單報告</a>
            </li>
            <li class="mb-1">
                <a href="/DataProduct/Pelican_Compare">- Pelican 重複發放PMF 檢查</a>
            </li>
            <li class="mb-1">
                <a href="/DataProduct/Pelican_Month_Fee">- Pelican 每月帳單比對</a>
            </li>
            <li class="mb-1">
                <a href="/DataProduct/PAMM_pending_des">- PAMM Pending 資金紀錄</a>
            </li>
            <li class="mb-1">
                <a href="/DataProduct/EA_Account">- EA 緊急查詢工具</a>
            </li>
            <li class="mb-1">
                <a href="/ServerHealth/ServerHealth">- 健康報告</a>
            </li>
			 <li class="mb-1">
                <a href="/Permission/Index">- 權限管理</a>
            </li>
        </ul>
    </div>
</div>*@
<hr />
<div class="position-relative">
    <div class="position-absolute bottom-5 start-0">Copyrights by HYTECH GROUP 2024. All Rights Reserved.</div>
    <a class="position-absolute bottom-5 end-0" href="/Faq/FaqHomepage">工具FAQ</a>
</div>